<header class="site-head"
    {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}
    data-stellar-background-ratio=".5"
    data-stellar-vertical-offset="300">

    <div class="vertical">
        <div class="site-head-content inner">
            {{#if @blog.logo}}
                <a class="blog-logo" href="{{@blog.url}}">
                    <img src="{{@blog.logo}}" alt="Blog Logo" style="max-width: 200px; margin-bottom: 5px"/>
                </a>
            {{/if}}

            {{!-- <h1 class="blog-title">{{@blog.title}}</h1> --}}
            <h2 class="blog-description">{{@blog.description}}</h2>
        </div>
    </div>

</header>
