{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Each post has the blog logo at the top, with a link back to the home page }}
        {{> cover}}

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <span class="post-meta">
                <time datetime="{{date format="YYYY-MM-DD"}}">
                    {{date format='DD MMM YYYY'}}
                </time>
                {{tags prefix="on " separator=" | "}}
            </span>

            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">

                {{> author}}

                {{> share}}

            </footer>

            <section class="post-comments">
                {{> comments}}
            </section>

        {{/post}}

    </article>

</main>
